.env
.venv
env/
venv/
ENV/

__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/


.ipynb_checkpoints/

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

runs/
*.pt
*.engine
*.onnx

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/samples/*
!data/samples/.gitkeep

results/checkpoints/*
!results/checkpoints/.gitkeep
results/engines/*
!results/engines/.gitkeep
results/tables/*
!results/tables/.gitkeep
results/figures/*
!results/figures/.gitkeep

*.log